.git
.gitignore
.venv
venv
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
mlruns
data/raw/*.csv
artifacts/*.png
artifacts/*.json
artifacts/*.csv
artifacts/*.joblib
notebooks/.ipynb_checkpoints
docs
*.md
!README.md
